<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/instagram-insight.css'>
     <!-- <script src='main.js'></script> -->
     <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <%- include('partials/header') -%>

    <main>
        <h3>Bem vindo ao 1nsight</h3>
        <p>Faremos uma análise dos comentários presentes nas medias postadas em sua rede social e proveremos um poderoso entendimento de como as pessoas avaliam sua página.</p>
        
        <br/>
        <br/>
        
        <h3>Antes de começar, você precisará do seguinte:</h3>
        <ul>
            <li>Uma conta comercial ou uma conta de criador de conteúdo do Instagram</li>
            <li>Uma conta no facebook para criar uma Página do Facebook</li>
            <li>Uma Página do Facebook para conectar à conta do Instagram</li>
            <li>Não há suporte para stories. </li>
            <li>Não há suporte para mídias em publicações promovidas.</li>
            <li>Há um retorno máximo de 10.000 dos objetos de mídia mais recentes</li>
        </ul>

        <br/>
        <br/>

        <h3>Links úteis:</h3>
        <ul>
            <li>
                <a href="https://help.instagram.com/502981923235522" target="_blank">Como criar conta comercial do Instagram?</a>
            </li>
            <li>
                <a href="https://help.instagram.com/1158274571010880" target="_blank">Como criar conta de criador de conteúdo do Instagram?</a>
            </li>
        </ul>

        <br>
        <br/>

        <% if (facebookUserId && facebookName)  {%>
            <p> Você está logado como <%= facebookName %> e sua conta do instagram é <%= instagramPageName %>.</p>
            <p> Detectamos <%= instagramMediaList.length %> medias em sua conta do instagram.</p>
            <button>Fazer análise dos seus comentários</button>
        <% } else { %>
            <p>Para continuar, é necessário fazer <a href="/facebook-login" class="facebook-button">Login com facebook</a></p>
        <%}%>
    </main>

    <%- include('partials/footer') -%>
</body>
</html>